---
import "../styles/pixel-corners.css";
import JobCard from "./JobCard.astro";
import GadgetLogo from "../assets/logos/gadget.png";
import BitsBytesBricksLogo from "../assets/logos/bits-bytes-bricks.png";
import HomeIcon from "../assets/icons/home.svg";
import { getCollection } from "astro:content";

interface Link {
    data: {
        title: string;
        date: string;
        url: string;
        type:
            | "case study"
            | "lighthearted"
            | "editorial"
            | "guide"
            | "learn"
            | "announcement";
    };
}

const links: Link[] = await getCollection("links");
links.sort((linkA, linkB) => {
    return linkB.data.date.localeCompare(linkA.data.date);
});
---

<main class="h-screen flex flex-col p-4 md:p-16">
    <div
        class="flex flex-col md:flex-row items-center md:items-start pb-2 md:pb-12"
    >
        <div class="w-full md:w-48 flex justify-center mb-4 md:mb-0">
            <a
                href="/"
                class="flex flex-col mt-5 items-center text-neutral-100 hover:text-neutral-300"
                aria-label="Go back home"
            >
                <HomeIcon class="w-6 h-6 pb-1" />
                Go back
            </a>
        </div>
        <div class="flex-1 flex-col text-center">
            <h1 class="text-4xl p-2">Blog posts</h1>
            <h2 class="text-2xl">(plus, videos)</h2>
        </div>
    </div>
    <div
        class="flex flex-col md:flex-row relative gap-4 md:gap-8 flex-1 overflow-hidden"
    >
        <div class="flex flex-col items-center">
            <h2
                class="text-xl font-semibold p-4 pb-0 md:pb-4 text-center order-first md:order-none"
            >
                YouTube Channels
            </h2>
            <div class="w-48 flex md:flex-col">
                <JobCard
                    title="Learn with LEGO"
                    company="Bits, Bytes and Bricks"
                    logo={BitsBytesBricksLogo}
                    url="https://www.youtube.com/@gadget_dev"
                />
                <JobCard
                    title="Tutorials & Demos"
                    company="Gadget"
                    logo={GadgetLogo}
                    url="https://www.youtube.com/@gadget_dev"
                />
            </div>
        </div>
        <div class="flex-1 overflow-hidden">
            <div
                class="h-full overflow-y-auto [&::-webkit-scrollbar]:hidden [-ms-overflow-style:none] [scrollbar-width:none]"
            >
                <table class="w-full table-fixed">
                    <thead class="bg-neutral-300 sticky top-0">
                        <tr>
                            <th
                                class="text-left p-2 md:p-4 text-lg md:text-xl font-semibold text-neutral-900 w-[60%]"
                                >Title</th
                            >
                            <th
                                class="text-center p-2 md:p-4 text-sm md:text-lg font-semibold text-neutral-900 w-[20%] hidden sm:table-cell"
                                >Type</th
                            >
                            <th
                                class="text-center p-2 md:p-4 text-sm md:text-lg font-semibold text-neutral-900 w-[20%]"
                                >Date</th
                            >
                        </tr>
                    </thead>
                    <tbody>
                        {
                            links.map((item, index) => (
                                <tr
                                    class={`hover:bg-slate-600 transition-colors ${index % 2 === 0 ? "" : "bg-slate-700"} cursor-pointer`}
                                    onclick={`window.open('${item.data.url}', '_blank')`}
                                >
                                    <td class="break-words p-2">
                                        <span class="text-neutral-100 font-medium">
                                            {item.data.title}
                                        </span>
                                    </td>
                                    <td class="text-center w-[20%] hidden sm:table-cell">
                                        <span class="text-neutral-300 text-xs md:text-sm">
                                            {item.data.type}
                                        </span>
                                    </td>
                                    <td class="text-center w-[20%]">
                                        <span class="text-neutral-300 text-xs md:text-sm">
                                            {item.data.date}
                                        </span>
                                    </td>
                                </tr>
                            ))
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
