---
import "../styles/pixel-corners.css";
import JobCard from "./JobCard.astro";
import GadgetLogo from "../assets/logos/gadget.png";
import BitsBytesBricksLogo from "../assets/logos/bits-bytes-bricks.png";
import HomeIcon from "../assets/icons/home.svg";
import GhostIcon from "../assets/icons/ghost.svg";
import { getCollection } from "astro:content";

interface Link {
    data: {
        title: string;
        date: string;
        url: string;
        type:
            | "case study"
            | "lighthearted"
            | "editorial"
            | "guide"
            | "learn"
            | "announcement";
        ghost: boolean;
    };
}

const links: Link[] = await getCollection("links");
links.sort((linkA, linkB) => {
    return linkB.data.date.localeCompare(linkA.data.date);
});
---

<main class="min-h-screen flex flex-col p-4 md:h-screen md:p-8">
    <div
        class="block md:hidden sticky top-0 z-10 bg-slate-100 dark:bg-slate-800 p-4 border-b border-slate-300 dark:border-slate-700"
    >
        <a
            href="/"
            class="flex items-center justify-center hover:text-slate-600 dark:text-neutral-100 dark:hover:text-neutral-300"
            aria-label="Go back home"
        >
            <HomeIcon class="w-6 h-6 mr-2" />
            Go back
        </a>
    </div>
    <div
        class="flex flex-col md:flex-row items-center md:items-start pb-2 md:pb-12"
    >
        <div class="hidden md:flex w-48 justify-center">
            <a
                href="/"
                class="flex flex-col mt-5 items-center hover:text-slate-600 dark:text-neutral-100 dark:hover:text-neutral-300"
                aria-label="Go back home"
            >
                <HomeIcon class="w-6 h-6 pb-1" />
                Go back
            </a>
        </div>
        <div class="flex-1 flex-col text-center pt-4 md:pt-0">
            <h1 class="text-4xl md:p-2">Blog posts</h1>
            <h2 class="text-2xl">(plus, videos)</h2>
        </div>
    </div>
    <div
        class="flex flex-col md:flex-row relative gap-4 md:gap-8 flex-1 md:overflow-hidden"
    >
        <div class="md:w-48 flex flex-col items-center">
            <h2
                class="text-xl font-semibold p-4 pb-2 md:pb-4 text-center order-first md:order-none"
            >
                YouTube channels
            </h2>
            <div class="flex md:flex-col">
                <JobCard
                    title="Learn with LEGO"
                    company="Bits, Bytes and Bricks"
                    logo={BitsBytesBricksLogo}
                    url="https://www.youtube.com/@BitsBytesAndBricks"
                />
                <JobCard
                    title="Tutorials & Demos"
                    company="Gadget"
                    logo={GadgetLogo}
                    url="https://www.youtube.com/@gadget_dev"
                />
            </div>
        </div>
        <div class="flex-1 p-2">
            <div
                class="md:h-full md:overflow-y-auto [&::-webkit-scrollbar]:hidden [-ms-overflow-style:none] [scrollbar-width:none]"
            >
                <table class="w-full table-fixed">
                    <thead class="bg-slate-200 dark:bg-neutral-300 md:sticky md:top-0">
                        <tr>
                            <th
                                class="text-left p-2 md:p-4 text-lg md:text-xl font-semibold text-slate-900 dark:text-neutral-900 w-3/5"
                                >Post</th
                            >
                            <th
                                class="text-center p-2 md:p-4 text-sm md:text-lg font-semibold text-slate-900 dark:text-neutral-900 w-1/5 hidden sm:table-cell"
                                >Type</th
                            >
                            <th
                                class="text-center p-2 md:p-4 text-sm md:text-lg font-semibold text-slate-900 dark:text-neutral-900 w-1/5"
                                >Date</th
                            >
                        </tr>
                    </thead>
                    <tbody>
                        {
                            links.map((item, index) => (
                                <tr
                                    class={`hover:bg-slate-300 dark:hover:bg-slate-600 transition-colors ${index % 2 === 0 ? "" : "bg-slate-100 dark:bg-slate-700"} cursor-pointer`}
                                    onclick={`window.open('${item.data.url}', '_blank')`}
                                >
                                    <td class="break-words p-2 relative">
                                        <span class="font-medium">
                                            {item.data.title}
                                        </span>
                                        {item.data.ghost && (
                                            <GhostIcon class="absolute w-5 h-5 opacity-60 ghost-float right-[-4px] top-1/2 -translate-y-1/2" />
                                        )}
                                    </td>
                                    <td class="text-center w-1/5 hidden sm:table-cell">
                                        <span class="text-slate-600 dark:text-neutral-300 text-xs md:text-sm">
                                            {item.data.type}
                                        </span>
                                    </td>
                                    <td class="text-center w-1/5">
                                        <span class="text-slate-600 dark:text-neutral-300 text-xs md:text-sm">
                                            {item.data.date}
                                        </span>
                                    </td>
                                </tr>
                            ))
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
