---
import "../styles/pixel-corners.css";
import JobCard from "./JobCard.astro";
import GadgetLogo from "../assets/logos/gadget.png";
import HomeIcon from "../assets/icons/home.svg";
import { getCollection } from "astro:content";

interface Link {
    data: {
        title: string;
        date: string;
        url: string;
        type:
            | "case study"
            | "lighthearted"
            | "editorial"
            | "guide"
            | "announcement";
    };
}

const links: Link[] = await getCollection("links");
links.sort((linkA, linkB) => {
    return linkB.data.date.localeCompare(linkA.data.date);
});
---

<main class="h-screen flex flex-col p-16">
    <div class="flex items-start pb-12">
        <div class="w-48 flex justify-center">
            <a href="/" class="mt-5" aria-label="Go back home" }>
                <HomeIcon
                    class="w-6 h-6 text-neutral-100 hover:text-neutral-300"
                />
            </a>
        </div>
        <div class="flex-1 flex-col text-center">
            <h1 class="text-4xl p-2">Stuff I've wrote :)</h1>
            <h2 class="text-2xl">(and videos)</h2>
        </div>
    </div>
    <div class="flex relative gap-8 flex-1 overflow-hidden">
        <div>
            <h2 class="text-xl font-semibold p-4 text-center">Videos</h2>
            <div class="w-48 h-48">
                <JobCard
                    title="Tutorials & Demos"
                    company="Gadget"
                    logo={GadgetLogo}
                    url="https://www.youtube.com/@gadget_dev"
                />
            </div>
        </div>
        <div class="flex-1">
            <div
                class="h-full overflow-y-auto [&::-webkit-scrollbar]:hidden [-ms-overflow-style:none] [scrollbar-width:none]"
            >
                <table class="w-full table-fixed">
                    <thead class="bg-neutral-300 sticky top-0">
                        <tr>
                            <th
                                class="text-left p-4 text-xl font-semibold text-neutral-900"
                                >Title</th
                            >
                            <th
                                class="text-center p-4 text-lg font-semibold text-neutral-900 w-32"
                                >Type</th
                            >
                            <th
                                class="text-right p-4 text-lg font-semibold text-neutral-900 w-32"
                                >Date</th
                            >
                        </tr>
                    </thead>
                    <tbody>
                        {
                            links.map((item, index) => (
                                <tr
                                    class={`hover:bg-slate-600 transition-colors ${index % 2 === 0 ? "" : "bg-slate-700"} cursor-pointer`}
                                    onclick={`window.open('${item.data.url}', '_blank')`}
                                >
                                    <td class="truncate p-4">
                                        <span class="text-neutral-100 font-medium text-wrap">
                                            {item.data.title}
                                        </span>
                                    </td>
                                    <td class="text-center w-32 p-4">
                                        <span class="text-neutral-300 text-sm">
                                            {item.data.type}
                                        </span>
                                    </td>
                                    <td class="text-right w-32 p-4">
                                        <span class="text-neutral-300 text-sm">
                                            {item.data.date}
                                        </span>
                                    </td>
                                </tr>
                            ))
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
