---
import { Image } from "astro:assets";
import "../styles/pixel-corners.css";
interface Props {
    title: string;
    company: string;
    logo: ImageMetadata;
    url: string;
    isMobile?: boolean;
}

const { title, company, logo, url, isMobile = false } = Astro.props;
---

<div
    class:list={[
        "block",
        isMobile ? "ml-12 p-3 flex-1" : "mt-4 p-2 text-center",
    ]}
>
    {
        isMobile ? (
            <div class="flex items-center">
                <a href={url} target="_blank" rel="noopener noreferrer">
                    <Image
                        src={logo}
                        alt={`${company} logo`}
                        class="w-8 h-8 rounded-lg mr-3 bg-white p-1"
                    />
                </a>
                <div class="flex-1">
                    <h3 class="text-sm font-semibold text-white">{title}</h3>
                    <p class="text-xs text-grey-300">{company}</p>
                </div>
            </div>
        ) : (
            <>
                <a
                    href={url}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="pixel-corners inline-block bg-white mb-3"
                >
                    <Image
                        src={logo}
                        alt={`${company} logo`}
                        class="w-16 h-16 mx-auto p-1"
                        loading="eager"
                    />
                </a>
                <h3 class="text-sm font-semibold text-white mb-1">{title}</h3>
                <p class="text-xs text-grey-300 mb-2">{company}</p>
            </>
        )
    }
</div>
